* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
}

.container2 {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

.container1 {
    width: 100%;
    text-align: center;
    padding: 20px;
    color: rgba(255, 125, 125, 0.83);
}

header h1 {
    font-size: 24px;
}

nav ul {
    list-style: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    color: rgb(141, 141, 255);
}

#hero {
    background-image: url('hero.jpg');
    background-size: cover;
    color: white;
    text-align: center;
    padding: 50px 0;
}

#hero h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.information {
    background-color: #fff;
    padding: 40px 0;
}

.info {
    width: 80%;
    margin: 0 auto;
    text-align: left;
    background-color: #1a1a1a68;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.info h2 {
    font-family: 'Times New Roman', Times, serif;
    color: rgb(57, 38, 38);
    margin-bottom: 10px;
}

.info p {
    margin-bottom: 10px;
    line-height: 1.6;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}

footer p {
    margin: 5px 0;
}
